<section
  class="w-screen h-screen flex justify-center items-center bg-slate-100 dark:bg-slate-800"
>
  <div
    class="w-96 bg-slate-50 dark:bg-slate-700 shadow-lg rounded-xl px-8 py-12"
  >
    <div class="grid grid-col-1 gap-4">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="text-3xl font-bold text-orange-400">inTime</div>
        <div
          class="flex flex-col justify-center items-center gap-1 text-slate-700 dark:text-slate-100"
        >
          <p class="text-sky-600 text-4xl font-bold">Iniciar sesión</p>
        </div>
      </div>
      <form
        [formGroup]="formData"
        (ngSubmit)="onSubmit()"
        class="grid grid-cols-1 gap-6"
      >
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-2 w-full">
            <label
              for="username"
              class="block text-sm font-semibold text-slate-700 dark:text-slate-100"
            >
              {{ "Usuario" }}
            </label>
            <input
              pInputText
              id="username"
              formControlName="username"
              autocomplete="current-username"
            />
          </div>
          <div class="flex flex-col gap-2 w-full">
            <div class="flex justify-between items-center">
              <label
                for="password"
                class="block text-sm font-semibold text-slate-700 dark:text-slate-100"
              >
                {{ "Contraseña" }}
              </label>
              <a
                class="text-sm font-medium text-sky-500 hover:underline hover:text-sky-600 cursor-pointer"
                routerLink="/auth/reset-password"
              >
                {{ "¿Olvidaste tu contraseña?" }}
              </a>
            </div>

            <p-password
              inputId="password"
              formControlName="password"
              [toggleMask]="true"
              [feedback]="false"
              class="w-full"
              styleClass="w-full"
              inputStyleClass="w-full"
              autocomplete="current-password"
            />
          </div>
        </div>

        <div class="flex flex-col gap-6">
          <div class="flex flex-col items-center justify-center gap-4">
            <div class="w-full flex gap-2 items-center justify-between">
              <div class="flex items-center">
                <p-checkbox
                  class="flex items-center"
                  formControlName="rememberMe"
                  [binary]="true"
                  inputId="rememberMe"
                />
                <label for="rememberMe" class="text-sm px-2 m-0"
                  >Recuérdame</label
                >
              </div>
              <button
                pButton
                pRipple
                type="submit"
                size="small"
                [label]="loading ? 'Cargando' : 'Iniciar sesión'"
                class="uppercase text-center justify-center"
                [loading]="loading"
                [disabled]="invalid || loading"
              ></button>
            </div>

            <ng-container *ngIf="error">
              <div
                class="text-red-600 bg-red-50 border border-red-500 rounded-md px-2 py-1.5 flex items-center gap-1 text-sm"
              >
                <div class="p-2">
                  <iconify-icon [icon]="'stash:times-circle-light'" class="text-2xl" />
                </div>
                <p>{{ error }}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
