<nav *ngIf="totalPages > 1" class="flex gap-2 items-center">
  <button-custom
    severity="contrast"
    icon="lucide:chevrons-left"
    tooltip="Primera página"
    [disabled]="currentPage === 1"
    (click)="changePage(1)"
  />
  <button-custom
    severity="contrast"
    icon="lucide:chevron-left"
    tooltip="Página anterior"
    [disabled]="currentPage === 1"
    (click)="previous()"
  />

  @for (page of pages(); track $index) {
  <ng-container *ngIf="page === '...'; else numberButton">
    <span class="px-2 text-sm text-gray-500">...</span>
  </ng-container>
  <ng-template #numberButton>
    <p-button
      [variant]="page === currentPage ? undefined : 'text'"
      severity="contrast"
      size="small"
      rounded
      styleClass="!w-7 !h-7"
      (click)="onPageClick(page)"
    >
      <div class="flex justify-center text-sm items-center">
        {{ page }}
      </div>
    </p-button>
  </ng-template>
  }

  <button-custom
    severity="contrast"
    icon="lucide:chevron-right"
    tooltip="Página siguiente"
    [disabled]="currentPage === totalPages"
    (click)="next()"
  />
  <button-custom
    severity="contrast"
    icon="lucide:chevrons-right"
    tooltip="Última página"
    [disabled]="currentPage === totalPages"
    (click)="changePage(totalPages)"
  />
</nav>
