<p-toolbar styleClass="!px-6">
  <ng-template #start>
    <div class="h-full flex items-center gap-8">
      <div class="flex justify-center items-center gap-2">
        <p-button
          severity="secondary"
          rounded
          size="small"
          styleClass="!p-0"
          class="md:hidden"
          (click)="showDrawer()"
        >
          <div class="w-8 h-8 flex justify-center items-center">
            <iconify-icon [icon]="'lucide:align-justify'" class="text-xl" />
          </div>
        </p-button>
        <a class="text-2xl md:text-3xl font-bold text-orange-400" routerLink="/"
          >inTime</a
        >
      </div>
      <div class="hidden md:flex items-center gap-4">
        <p-button
          *ngFor="let item of listaMenu; let i = index"
          text
          severity="secondary"
          rounded
          size="small"
          (click)="toggleMenu($event, item.menu)"
        >
          <div class="flex justify-center items-center gap-3">
            <div>{{ item.label }}</div>
            <iconify-icon [icon]="'bx:bxs-chevron-down'" class="text-md" />
          </div>
        </p-button>
      </div>
      <p-drawer
        [(visible)]="mobileMenuVisible"
        header="Menú"
      >
        <p-accordion [(value)]="accordionIndex">
          <p-accordion-panel
            *ngFor="
              let tab of listaMenu;
              trackBy: trackByLabel;
              let idx = index
            "
            [value]="idx"
          >
            <p-accordion-header>
              {{ tab.label }}
            </p-accordion-header>

            <p-accordion-content >
              <div *ngIf="accordionIndex == idx" class="flex flex-col gap-1">
                <a
                  *ngFor="let item of tab.menu; trackBy: trackByLabel"
                  pRipple
                  class="flex items-center gap-3 rounded px-2 py-1 text-sm hover:bg-slate-200 dark:hover:bg-slate-700 cursor-pointer"
                  (click)="routerMobile(item.routerLink)"
                >
                  <iconify-icon [icon]="item.icon" />
                  <span>{{ item.label }}</span>
                </a>
              </div>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>
      </p-drawer>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="flex justify-center items-center gap-2 md:gap-4">
      <app-notifications />
      <p-button
        severity="secondary"
        rounded
        size="small"
        styleClass="!p-0"
        (click)="profileMenu.toggle($event)"
      >
        <div class="w-8 h-8 flex justify-center items-center">
          <img
            *ngIf="profileImage"
            [src]="profileImage"
            alt="Imagen de perfil"
          />
          <div
            *ngIf="!profileImage"
            class="w-8 h-8 flex items-center justify-center"
          >
            <iconify-icon
              [icon]="'material-symbols:person-rounded'"
              class="text-xl"
            />
          </div>
        </div>
      </p-button>
    </div>
  </ng-template>
</p-toolbar>

<p-menu
  #menu
  [model]="menuItems"
  [popup]="true"
  appendTo="body"
  styleClass="overflow-hidden"
>
  <ng-template pTemplate="item" let-item>
    <div class="px-2">
      <a
        pRipple
        class="flex items-center gap-3 p-menuitem-link py-1 cursor-pointer"
        [routerLink]="item.routerLink"
      >
        <iconify-icon [icon]="item.icon" />
        <span>{{ item.label }}</span>
      </a>
    </div>
  </ng-template>
</p-menu>

<p-menu
  #profileMenu
  [model]="profileMenuItems"
  [popup]="true"
  appendTo="body"
  styleClass="overflow-hidden"
>
  <ng-template #start>
    <div class="flex items-center gap-2 py-2 px-2">
      <p-avatar shape="circle" size="large" styleClass="!w-10 !h-10 shadow-lg">
        <img *ngIf="profileImage" [src]="profileImage" alt="imagen de perfil" />
        <div *ngIf="!profileImage" class="flex items-center justify-center">
          <iconify-icon
            [icon]="'material-symbols:person-rounded'"
            class="text-2xl"
          />
        </div>
      </p-avatar>
      <div class="flex flex-col">
        <p class="text-sm font-medium">{{ fullName }}</p>
        <p class="text-xs font-light capitalize">{{ rolNombre }}</p>
      </div>
    </div>
    <div class="w-full h-[1px] bg-slate-300 dark:bg-slate-500"></div>
  </ng-template>
  <ng-template pTemplate="item" let-item>
    <div class="px-2 bg-slate-50 dark:bg-slate-900">
      <ng-container *ngIf="!item.routerLink; else elseTemplate">
        <a
          pRipple
          class="flex items-center gap-2 p-menuitem-link py-1 cursor-pointer"
        >
          <iconify-icon [icon]="item.icon" />
          <span>{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #elseTemplate>
        <a
          pRipple
          class="flex items-center gap-2 p-menuitem-link py-1 cursor-pointer"
          [href]="item.routerLink"
          download
        >
          <iconify-icon [icon]="item.icon" />
          <span>{{ item.label }}</span>
        </a>
      </ng-template>
    </div>
  </ng-template>
</p-menu>

<p-dialog
  header="Descargar Aplicaciones"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  [(visible)]="showDownload"
  styleClass="modal-sm"
>
  <div class="flex flex-col gap-2 px-2">
    @for (item of listApks; track $index) {
    <a
      pRipple
      class="flex items-center justify-between gap-1 cursor-pointer border px-4 py-1 rounded-2xl hover:bg-slate-500 hover:text-slate-50"
      [href]="item.routerLink"
      download
    >
      <span>{{ item.label }}</span>
      <iconify-icon [icon]="item.icon" />
    </a>
    }
  </div>
</p-dialog>
