<div class="flex flex-col h-full">
  <div class="flex flex-col justify-center gap-4 px-6 py-4">
    <div class="flex justify-between items-center gap-4">
      <title-card [title]="title" [icon]="icon" />
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-3">
        <p-datepicker
          id="fechaInicio"
          view="month"
          dateFormat="MM yy"
          placeholder="Seleccionar mes"
          [(ngModel)]="fechaSelected"
          [readonlyInput]="true"
          showIcon
          iconDisplay="input"
          styleClass="w-44"
          appendTo="body"
          pTooltip="Mes"
          tooltipPosition="top"
          tooltipStyleClass="text-sm"
          (ngModelChange)="cambiarFecha($event)"
        />
        <p-multiselect
          [options]="listaSedes"
          [(ngModel)]="selectedSedes"
          optionLabel="nombre"
          optionValue="id"
          placeholder="Edificios"
          [maxSelectedLabels]="2"
          (onChange)="filtrar($event.value)"
          styleClass="w-42"
          pTooltip="Edificios"
          tooltipPosition="top"
          tooltipStyleClass="text-sm"
        />
        <p-multiselect
          [options]="listaCargos"
          [(ngModel)]="selectedCargos"
          optionLabel="nombre"
          optionValue="id"
          placeholder="Cargos"
          [maxSelectedLabels]="2"
          (onChange)="filtrar($event.value)"
          styleClass="w-42"
          pTooltip="Cargos"
          tooltipPosition="top"
          tooltipStyleClass="text-sm"
        />
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            type="text"
            pInputText
            placeholder="Buscar"
            (input)="filterGlobal(dt1, $event.target)"
          />
        </p-iconfield>
      </div>
      <div class="flex items-center gap-3">
        <p-button severity="info" size="small">
          <div class="flex justify-center items-center font-medium gap-1">
            <i
              class="iconify icon text-lg"
              data-icon="material-symbols:download-rounded"
              data-inline="false"
            ></i>
            <div>XLS</div>
          </div>
        </p-button>
      </div>
    </div>
  </div>
  <div class="flex flex-col h-[calc(100% - 8.5rem)] px-6">
    <p-table
      #dt1
      dataKey="id"
      [value]="dataTable"
      stripedRows
      [scrollable]="true"
      scrollHeight="720px"
      styleClass="w-full"
      [globalFilterFields]="['nombre', 'apellido']"
      [columns]="cols"
      [exportHeader]="'customExportHeader'"
      exportFilename="inasistencias"
    >
      <ng-template #header let-columns>
        <tr>
          <th
            *ngFor="let col of columns"
            [ngClass]="[col.widthClass ? col.widthClass : '']"
          >
            <div
              [ngClass]="[
                'text-xs uppercase',
                col.align ? 'text-' + col.align : 'text-start'
              ]"
            >
              {{ col.header }}
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td>
            <div class="text-center text-sm">
              {{ item.fecha | date : "dd MMM yyyy" | uppercase }}
            </div>
          </td>
          <td>{{ item.trabajador.nombre }}</td>
          <td>{{ item.trabajador.apellido }}</td>
          <td>{{ item.sede.nombre }}</td>
          <td>{{ item.cargo.nombre }}</td>
          <td>{{ item.justificacion?.nota }}</td>
          <td>
            <div class="flex justify-center text-sm">
              <p-tag
                [value]="!item.justificacion ? 'No justificado' : 'Justificado'"
                [severity]="!item.justificacion ? 'warn' : 'success'"
                styleClass="uppercase !text-xs"
              />
            </div>
          </td>
          <td>
            <div class="flex justify-center">
              <p-button
                text
                (click)="edit(item)"
                severity="info"
                rounded
                pTooltip="Justificar inasistencia"
                tooltipPosition="top"
                tooltipStyleClass="!text-xs"
              >
                <i
                  class="iconify icon font-bold text-xl"
                  [attr.data-icon]="
                    'material-symbols:document-search-outline-rounded'
                  "
                  data-inline="false"
                ></i>
              </p-button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <ng-container *ngIf="loadingTable; else elseTemplate">
          @for (item of [].constructor(4); track $index) {
          <tr class="h-12">
            <td *ngFor="let col of cols; let even = even">
              <p-skeleton />
            </td>
          </tr>
          }
        </ng-container>
        <ng-template #elseTemplate>
          <tr>
            <td colspan="100">
              <div class="text-center text-sm font-extralight">
                No se encontraron registros.
              </div>
            </td>
          </tr>
        </ng-template>
      </ng-template>
    </p-table>
  </div>
</div>
