<div class="flex flex-col gap-8 py-6">
  <table class="w-full border !py-2 bg-sky-600/25">
    <tbody>
      <tr>
        <td class="text-start text-sm font-medium px-2 py-0.5">
          RUC: {{ formData?.datos?.ruc }}
        </td>
      </tr>
      <tr>
        <td class="text-start text-sm font-medium px-2 py-0.5">
          Empleador:
          {{ formData?.datos?.razonSocial }}
        </td>
      </tr>
      <tr>
        <td class="text-start text-sm font-medium px-2 py-0.5">
          Periodo: {{ periodo | date : "MM/yyyy" }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="w-full grid grid-cols-1">
    <div class="grid grid-cols-8">
      <div
        class="col-span-2 border-t border-l bg-sky-600/25 text-slate-700 py-0.5"
      >
        <div
          class="h-full flex items-center justify-center font-medium text-sm"
        >
          Documento de Identidad
        </div>
      </div>
      <div
        class="col-span-4 row-span-2 border-t border-l bg-sky-600/25 text-slate-700 py-0.5"
      >
        <div
          class="h-full flex items-center justify-center font-medium text-sm"
        >
          Nombres y Apellidos
        </div>
      </div>
      <div
        class="col-span-2 row-span-2 border-t border-x bg-sky-600/25 text-slate-700 py-0.5"
      >
        <div
          class="h-full flex items-center justify-center font-medium text-sm"
        >
          Situación
        </div>
      </div>
      <div class="border-t border-l bg-sky-600/25 text-slate-700 py-0.5">
        <div
          class="h-full flex items-center justify-center font-medium text-sm"
        >
          Tipo
        </div>
      </div>
      <div class="border-t border-l bg-sky-600/25 text-slate-700 py-0.5">
        <div
          class="h-full flex items-center justify-center font-medium text-sm"
        >
          Número
        </div>
      </div>
      <div class="border-t border-l py-0.5 text-center text-sm uppercase">
        {{ formData?.datos?.tipoDoc }}
      </div>
      <div class="border-t border-l py-0.5 text-center text-sm">
        {{ formData?.datos?.identificacion }}
      </div>
      <div
        class="col-span-4 border-t border-l py-0.5 text-center text-sm uppercase"
      >
        {{ formData?.datos?.nombre }} {{ formData?.datos?.apellido }}
      </div>
      <div
        class="col-span-2 border-t border-x py-0.5 text-center text-sm uppercase"
      >
        {{ formData?.datos?.situacion }}
      </div>
      <div
        class="col-span-2 border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        Fecha de Ingreso
      </div>
      <div
        class="col-span-2 border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        Tipo de Trabajador
      </div>
      <div
        class="col-span-2 border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        Régimen Pensionario
      </div>
      <div
        class="col-span-2 border-t border-x bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        CUSPP
      </div>
      <div class="col-span-2 border-t border-l py-0.5 text-center text-sm">
        {{ fechaContrato | date : "dd/MM/yyyy" }}
      </div>
      <div
        class="col-span-2 border-t border-l py-0.5 text-center text-sm uppercase"
      >
        {{ formData?.datos?.tipoTrabajador }}
      </div>
      <div
        class="col-span-2 border-t border-l py-0.5 text-center text-sm uppercase"
      >
        {{ formData?.datos?.regimenPensionario }}
      </div>
      <div class="col-span-2 border-t border-x py-0.5 text-center text-sm">
        {{ formData?.datos?.cuspp }}
      </div>
      <div
        class="row-span-2 border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        <div
          class="h-full flex items-center justify-center font-medium text-sm"
        >
          Días Laborados
        </div>
      </div>
      <div
        class="row-span-2 border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        <div
          class="h-full flex items-center justify-center font-medium text-sm"
        >
          Días No Laborados
        </div>
      </div>
      <div
        class="row-span-2 border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        <div
          class="h-full flex items-center justify-center font-medium text-sm"
        >
          Días Subsidiados
        </div>
      </div>
      <div
        class="row-span-2 border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        <div
          class="h-full flex items-center justify-center font-medium text-sm"
        >
          Condición
        </div>
      </div>
      <div
        class="col-span-2 border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        Jornada Ordinaria
      </div>
      <div
        class="col-span-2 border-t border-x bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        Sobretiempo
      </div>
      <div
        class="border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        Total Horas
      </div>
      <div
        class="border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        Minutos
      </div>
      <div
        class="border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        Total Horas
      </div>
      <div
        class="border-t border-x bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        Minutos
      </div>
      <div class="border-t border-l py-0.5 text-center text-sm">
        {{ formData?.datos?.diasLaborados }}
      </div>
      <div class="border-t border-l py-0.5 text-center text-sm">
        {{ formData?.datos?.diasNoLaborados }}
      </div>
      <div class="border-t border-l py-0.5 text-center text-sm">
        {{ formData?.datos?.diasSubcidiados }}
      </div>
      <div class="border-t border-l py-0.5 text-center text-sm">
        {{ formData?.datos?.condicion }}
      </div>
      <div class="border-t border-l py-0.5 text-center text-sm">
        {{ formData?.datos?.totalHoras }}
      </div>
      <div class="border-t border-l py-0.5 text-center text-sm">
        {{ formData?.datos?.minutos }}
      </div>
      <div class="border-t border-l py-0.5 text-center text-sm">
        {{ formData?.datos?.totalHorasExtra }}
      </div>
      <div class="border-t border-x py-0.5 text-center text-sm">
        {{ formData?.datos?.minutosExtra }}
      </div>
      <div
        class="col-span-6 border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        Motivo de Suspención de Labores
      </div>
      <div
        class="col-span-2 row-span-2 border-t border-x bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        <div
          class="h-full flex items-center justify-center font-medium text-sm"
        >
          Otros empleados por Renta de 5ta categoría
        </div>
      </div>
      <div
        class="border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        Tipo
      </div>
      <div
        class="col-span-4 border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        Motivo
      </div>
      <div
        class="border-t border-l bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
      >
        N° Días
      </div>
      <div class="border-y border-l py-0.5 text-center text-sm">
        {{ formData?.datos?.suspencionTipo }}
      </div>
      <div class="col-span-4 border-y border-l py-0.5 text-center text-sm">
        {{ formData?.datos?.suspencionMotivo }}
      </div>
      <div class="border-y border-l py-0.5 text-center text-sm">
        {{ formData?.datos?.suspencionDias }}
      </div>
      <div class="col-span-2 border-y border-x py-0.5 text-center text-sm">
        {{ formData?.datos?.quintaCategoria }}
      </div>
    </div>
  </div>

  <table class="w-full">
    <tbody>
      <tr>
        <td
          class="border bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
        >
          Código
        </td>
        <td
          colspan="4"
          class="border bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
        >
          Conceptos
        </td>
        <td
          class="border w-32 bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
        >
          Ingresos S/
        </td>
        <td
          class="border w-32 bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
        >
          Descuentos S/
        </td>
        <td
          class="border w-32 bg-sky-600/25 text-slate-700 py-0.5 font-medium text-center text-sm"
        >
          Neto S/
        </td>
      </tr>
      <ng-container *ngFor="let grupo of formData?.grupoDetalle">
        <tr>
          <td colspan="8" class="border-x py-0.5 text-sm">
            <div class="bg-sky-600/25 text-slate-700 px-2">
              {{ grupo.nombre }}
            </div>
          </td>
        </tr>
        <tr *ngFor="let item of grupo.items; let i = index">
          <td class="border-s py-0.5 px-2 text-start text-sm">
            {{ item.codigo }}
          </td>
          <td colspan="4" class="py-0.5 px-2 text-start text-sm">
            {{ item.nombre }}
          </td>
          <td class="py-0.5 px-2 text-end text-sm">
            {{ item.ingreso | number : "1.2-2" }}
          </td>
          <td class="py-0.5 px-2 text-end text-sm">
            {{ item.descuento | number : "1.2-2" }}
          </td>
          <td class="border-e py-0.5 px-2 text-end text-sm">
            {{ item.neto | number : "1.2-2" }}
          </td>
        </tr>
      </ng-container>
      <tr>
        <td colspan="8" class="border-x border-b py-0.5 text-sm">
          <div class="bg-sky-600/25 text-slate-700 px-2 flex justify-between">
            <span>Neto a Pagar</span>
            <span>{{ formData?.pagoNeto | number : "1.2-2" }}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="w-full">
    <tbody>
      <tr>
        <td
          colspan="8"
          class="border bg-sky-600/25 text-slate-700 py-0.5 px-2 font-medium text-start text-sm"
        >
          Aporte de Empleador
        </td>
      </tr>
      <tr *ngFor="let item of formData?.aportes; let i = index">
        <td
          [ngClass]="[
            'border-s py-0.5 px-2 text-start text-sm',
            formData?.aportes.length == i + 1 ? 'border-b' : ''
          ]"
        >
          {{ item.codigo }}
        </td>
        <td
          colspan="4"
          [ngClass]="[
            'py-0.5 px-2 text-start text-sm',
            formData?.aportes.length == i + 1 ? 'border-b' : ''
          ]"
        >
          {{ item.nombre }}
        </td>
        <td
          [ngClass]="[
            'py-0.5 px-2 text-end text-sm',
            formData?.aportes.length == i + 1 ? 'border-b' : ''
          ]"
        >
          {{ item.ingreso | number : "1.2-2" }}
        </td>
        <td
          [ngClass]="[
            'py-0.5 px-2 text-end text-sm',
            formData?.aportes.length == i + 1 ? 'border-b' : ''
          ]"
        >
          {{ item.descuento | number : "1.2-2" }}
        </td>
        <td
          [ngClass]="[
            'border-e py-0.5 px-2 text-end text-sm',
            formData?.aportes.length == i + 1 ? 'border-b' : ''
          ]"
        >
          {{ item.neto | number : "1.2-2" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
