<div class="flex flex-col h-full">
  <div class="flex flex-col justify-center gap-4 px-6 py-4">
    <div class="flex justify-between items-center gap-4">
      <title-card [title]="title" [icon]="icon" />
      <!-- <p-button
        severity="danger"
        size="small"
        [routerLink]="'/ajustes/configuracion'"
      >
        <div class="flex justify-center items-center font-medium gap-1">
          <i
            class="iconify icon text-lg"
            data-icon="uil:left-arrow-from-left"
            data-inline="false"
          ></i>
          <span>Configuración</span>
        </div>
      </p-button> -->
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-3">
        <p-inputgroup>
          <input pInputText [(ngModel)]="searchText" placeholder="Buscar" />
          <p-inputgroup-addon>
            <p-button
              icon="pi pi-search"
              severity="info"
              variant="text"
              size="small"
              (click)="search()"
              [disabled]="!searchText"
              pTooltip="Buscar"
              tooltipPosition="top"
              tooltipStyleClass="!text-xs !font-normal !p-0"
            />
          </p-inputgroup-addon>
        </p-inputgroup>
      </div>
      <div class="flex items-center gap-3">
        <!-- <p-button severity="info" size="small" (click)="dt.exportCSV()">
          <div class="flex justify-center items-center font-medium gap-1">
            <i
              class="iconify icon text-lg"
              data-icon="uil:file-export"
              data-inline="false"
            ></i>
            <span>Exportar</span>
          </div>
        </p-button> -->
        <p-button severity="info" size="small" (click)="addNew()">
          <div class="flex justify-center items-center font-medium gap-1">
            <i
              class="iconify icon text-lg"
              data-icon="uil:plus"
              data-inline="false"
            ></i>
            <span>Agregar</span>
          </div>
        </p-button>
      </div>
    </div>
  </div>
  <div class="flex flex-col h-[calc(100% - 8.5rem)] px-6">
    <p-table
      #dt
      dataKey="id"
      [value]="dataTable"
      stripedRows
      [scrollable]="true"
      scrollHeight="720px"
      styleClass="w-full"
      [globalFilterFields]="['nombre', 'direccion']"
      [columns]="cols"
      [exportHeader]="'customExportHeader'"
      exportFilename="edificios"
    >
      <ng-template #header let-columns>
        <tr>
          <th
            *ngFor="let col of columns"
            [ngClass]="[col.widthClass ? col.widthClass : '']"
          >
            <div
              [ngClass]="[
                'text-xs uppercase',
                col.align ? 'text-' + col.align : 'text-start'
              ]"
            >
              {{ col.header }}
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td>
            <div class="text-start text-sm uppercase">{{ item.nombre }}</div>
          </td>
          <td>
            <div class="text-start text-sm">{{ item.direccion }}</div>
          </td>
          <td>
            <div class="text-start text-sm">{{ item.ruc }}</div>
          </td>
          <td>
            <div class="text-start text-sm">{{ item.razonSocial }}</div>
          </td>
          <td>
            <div class="text-center text-sm">{{ item.latitud }}</div>
          </td>
          <td>
            <div class="text-center text-sm">{{ item.longitud }}</div>
          </td>
          <td class="w-28">
            <div class="flex justify-center items-center gap-1">
              <button-edit (click)="edit(item)" />
              <button-delete (click)="remove(item)" />
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <ng-container *ngIf="loadingTable; else elseTemplate">
          @for (item of [].constructor(4); track $index) {
          <tr class="h-12">
            <td *ngFor="let col of cols; let even = even">
              <p-skeleton />
            </td>
          </tr>
          }
        </ng-container>
        <ng-template #elseTemplate>
          <tr>
            <td colspan="100">
              <div class="text-center text-sm font-extralight">
                No se encontraron registros.
              </div>
            </td>
          </tr>
        </ng-template>
      </ng-template>
      <ng-template #footer>
        <tr>
          <td colspan="100">
            <div class="flex justify-center items-center">
              <app-paginator
                [totalItems]="totalItems"
                [limit]="limit()"
                [offset]="offset()"
                (pageChange)="onPageChange($event)"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
