<p-toast />
<p-confirmdialog />
<div class="flex flex-col h-full">
  <div class="flex flex-col justify-center gap-4 px-6 py-4">
    <div class="flex justify-between items-center gap-4">
      <title-card [title]="title" [icon]="icon" />
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-3">
        <p-datepicker
          id="fechaInicio"
          view="month"
          dateFormat="MM yy"
          placeholder="Seleccionar mes"
          [(ngModel)]="fechaSelected"
          [readonlyInput]="true"
          showIcon
          iconDisplay="input"
          styleClass="w-44"
          appendTo="body"
          pTooltip="Mes"
          tooltipPosition="top"
          tooltipStyleClass="text-sm"
          (ngModelChange)="cambiarFecha($event)"
        />
        <p-multiselect
          [options]="listaSedes"
          [(ngModel)]="selectedSedes"
          optionLabel="nombre"
          optionValue="id"
          placeholder="Edificios"
          [maxSelectedLabels]="2"
          (onChange)="filtrar($event.value)"
          styleClass="w-42"
          pTooltip="Edificios"
          tooltipPosition="top"
          tooltipStyleClass="text-sm"
        />
        <p-multiselect
          [options]="listaCargos"
          [(ngModel)]="selectedCargos"
          optionLabel="nombre"
          optionValue="id"
          placeholder="Cargos"
          [maxSelectedLabels]="2"
          (onChange)="filtrar($event.value)"
          styleClass="w-42"
          pTooltip="Cargos"
          tooltipPosition="top"
          tooltipStyleClass="text-sm"
        />
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            type="text"
            pInputText
            placeholder="Buscar"
            (input)="filterGlobal(dt, $event.target)"
          />
        </p-iconfield>
      </div>
      <div class="flex items-center gap-2">
        <p-button
          severity="info"
          size="small"
          styleClass="!px-3 !py-1"
          (click)="confirm($event)"
        >
          <div class="flex justify-center items-center font-medium gap-1">
            <iconify-icon
              [icon]="'material-symbols:share-windows-rounded'"
              class="text-lg"
            />
            <div>EMITIR COMPROBANTE</div>
          </div>
        </p-button>
        <!-- <p-button severity="info" size="small" (click)="dt.exportCSV()">
          <div class="flex justify-center items-center font-medium gap-1">
            <i
              class="iconify icon text-lg"
              data-icon="uil:file-export"
              data-inline="false"
            ></i>
            <span>Exportar</span>
          </div>
        </p-button> -->
      </div>
    </div>
  </div>
  <div class="flex flex-col h-[calc(100% - 8.5rem)] px-6">
    <p-table
      #dt
      dataKey="id"
      [columns]="cols"
      [value]="dataTable"
      stripedRows
      [scrollable]="true"
      [exportHeader]="'customExportHeader'"
      scrollHeight="720px"
      styleClass="w-full"
      [globalFilterFields]="['nombre', 'apellido']"
      exportFilename="planillas"
    >
      <ng-template #header let-columns>
        <tr *ngFor="let levels of columns">
          <th
            *ngFor="let col of levels"
            [ngClass]="[col.widthClass ? col.widthClass : '']"
            [attr.colspan]="col.colSpan"
            [attr.rowspan]="col.rowSpan"
          >
            <div
              [ngClass]="[
                'text-xs uppercase',
                col.align ? 'text-' + col.align : 'text-start'
              ]"
            >
              {{ col.header }}
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td>
            <div class="text-center text-sm">{{ item.identificacion }}</div>
          </td>
          <td>
            <div class="text-start text-sm">{{ item.nombre }}</div>
          </td>
          <td>
            <div class="text-start text-sm">{{ item.apellido }}</div>
          </td>
          <td>
            <div class="text-center text-sm">{{ item.sede.nombre }}</div>
          </td>
          <td>
            <div class="text-center text-sm">{{ item.cargo.nombre }}</div>
          </td>
          <td>
            <div class="text-center text-sm">
              {{ item.salarioDiario | currency }}
            </div>
          </td>
          <td>
            <div class="text-center text-sm">
              {{ item.diasLaborados }}
            </div>
          </td>
          <td>
            <div class="text-center text-sm">
              {{ item.salarioMesExtra25 | currency }}
            </div>
          </td>
          <td>
            <div class="text-center text-sm">
              {{ item.salarioMesExtra35 | currency }}
            </div>
          </td>
          <!-- <td>
            <div class="text-center text-sm">
              {{ item.sueldoBruto | currency }}
            </div>
          </td> -->
          <td>
            <div class="text-center text-sm min-w-20">
              {{ item.pagoNeto | currency }}
            </div>
          </td>
          <td>
            <div class="flex justify-center items-center gap-2">
              <button-custom
                severity="warn"
                tooltip="Detalle mensual"
                icon="solar:calculator-broken"
                (click)="getCalculoPago(item)"
              />

              <button-custom
                severity="info"
                tooltip="Detalle mensual"
                icon="material-symbols:docs-outline-rounded"
                (click)="getComprobante(item)"
              />
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <ng-container *ngIf="loadingTable; else elseTemplate">
          @for (item of [].constructor(4); track $index) {
          <tr class="h-12">
            <td *ngFor="let col of this.skeletons; let even = even">
              <p-skeleton />
            </td>
          </tr>
          }
        </ng-container>
        <ng-template #elseTemplate>
          <tr>
            <td colspan="100">
              <div class="text-center text-sm font-extralight">
                No se encontraron registros.
              </div>
            </td>
          </tr>
        </ng-template>
      </ng-template>
    </p-table>
  </div>
</div>
