<div class="flex flex-col gap-2">
  <form [formGroup]="formData" class="grid grid-cols-1 gap-2">
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="idSede">Edificio</label>
      <p-select
        id="idSede"
        [options]="listaSedes"
        optionLabel="nombre"
        optionValue="id"
        formControlName="idSede"
        (onChange)="filtrar($event)"
        placeholder="Seleccione..."
        appendTo="body"
        [filter]="true"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="idCargo">Cargo</label>
      <p-select
        id="idCargo"
        [options]="listaCargos"
        optionLabel="nombre"
        optionValue="id"
        formControlName="idCargo"
        (onChange)="filtrar($event)"
        placeholder="Seleccione..."
        appendTo="body"
        [filter]="true"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="idTrabajador">Trabajador</label>
      <p-select
        id="idTrabajador"
        [options]="listaTrabajadoresFiltrados"
        optionLabel="labelName"
        optionValue="id"
        formControlName="idTrabajador"
        placeholder="Seleccione..."
        appendTo="body"
        [filter]="true"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="diasDisponibles"
        >Días disponibles</label
      >
      <input
        pInputText
        id="diasDisponibles"
        formControlName="diasDisponibles"
        [readonly]="true"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="fechaInicio"
        >Fecha de inicio</label
      >
      <p-datepicker
        id="fechaInicio"
        styleClass="w-full uppercase"
        dateFormat="dd M yy"
        placeholder="DD MMM YYYY"
        formControlName="fechaInicio"
        [showIcon]="true"
        (ngModelChange)="selectFechaInicio($event)"
        appendTo="body"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="fechaFin">Fecha de fin</label>
      <p-datepicker
        id="fechaFin"
        styleClass="w-full uppercase"
        dateFormat="dd M yy"
        placeholder="DD MMM YYYY"
        formControlName="fechaFin"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [showIcon]="true"
        (ngModelChange)="selectFechaFin($event)"
        appendTo="body"
      />
    </div>
    <!-- <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="username"
        >Archivos adjuntos</label
      >
      <div class="flex">
        <input
          #fileImage
          class="hidden"
          type="file"
          (change)="onFileSelected($event)"
          accept="application/pdf"
        />
        <div class="flex items-center gap-2">
          <p-button
            severity="contrast"
            size="small"
            (click)="fileImage.click()"
          >
            <div class="flex justify-center items-center">
              <div>Cargar</div>
            </div>
          </p-button>
          <p class="w-64 text-sm italic truncate" [pTooltip]="filename">
            {{ !!filename ? filename : "Archivo no cargado." }}
          </p>
        </div>
      </div>
    </div> -->
  </form>

  <div class="flex justify-end gap-2 mt-4">
    <p-button
      severity="info"
      size="small"
      [label]="id ? 'Actualizar' : 'Guardar'"
      [disabled]="formData.invalid"
      (onClick)="guardar()"
    />
  </div>
</div>
