<form [formGroup]="formData" class="grid grid-cols-1 gap-6">
  <div class="flex flex-col gap-2">
    <label class="text-sm font-medium" for="nombreCargo">
      Nombre <span class="text-xs">*</span>
    </label>
    <input id="nombreCargo" pInputText formControlName="nombre" />
  </div>

  <div class="flex justify-between gap-4">
    <div class="flex items-center gap-2 py-1">
      <p-toggleswitch formControlName="isActive" />
      <label class="text-sm font-medium pb-1.5" for="nombreCargo">{{
        isActive ? "Activo" : "Inactivo"
      }}</label>
    </div>
    <p-button
      severity="info"
      size="small"
      [label]="id ? 'Actualizar' : 'Guardar'"
      [disabled]="formData.invalid"
      (onClick)="guardar()"
    />
  </div>
</form>
