<div class="flex flex-col h-full">
  <div class="flex flex-col justify-center gap-4 px-6 py-4">
    <div class="flex justify-between items-center gap-4">
      <title-card [title]="title" [icon]="icon" />
      <!-- <p-button
        severity="danger"
        size="small"
        [routerLink]="'/ajustes/configuracion'"
      >
        <div class="flex justify-center items-center font-medium gap-1">
          <i
            class="iconify icon text-lg"
            data-icon="uil:left-arrow-from-left"
            data-inline="false"
          ></i>
          <span>Configuración</span>
        </div>
      </p-button> -->
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">
        <input pInputText [(ngModel)]="searchText" placeholder="Buscar" />
        <p-button
          severity="contrast"
          variant="outlined"
          size="small"
          (click)="search()"
        >
          <div class="flex justify-center items-center gap-2">
            <div>Filtrar</div>
          </div>
        </p-button>
        <p-button
          severity="danger"
          variant="outlined"
          size="small"
          (click)="clear()"
        >
          <div class="flex justify-center items-center gap-2">
            <div>Limpiar</div>
          </div>
        </p-button>
      </div>
      <div class="flex items-center gap-2">
        <!-- <p-button severity="info" size="small" (click)="permisos()">
          <div class="flex justify-center items-center font-medium gap-1">
            <iconify-icon
              [icon]="'material-symbols:how-to-reg-outline'"
              class="text-lg"
            />
            <span>Roles</span>
          </div>
        </p-button> -->
        <btn-add (onClick)="addNew()" />
      </div>
    </div>
  </div>
  <div class="flex flex-col h-[calc(100% - 8.5rem)] px-6">
    <p-table
      #dt
      dataKey="id"
      [value]="dataTable"
      [columns]="cols"
      stripedRows
      [scrollable]="true"
      scrollHeight="calc(100vh - 220px)"
      class="table-fixed w-full"
      styleClass="table-fixed w-full"
    >
      <ng-template #header let-columns>
        <tr>
          <th
            *ngFor="let col of cols"
            [ngClass]="[col.widthClass! ? col.widthClass! : '']"
          >
            <div
              [ngClass]="[
                'text-xs uppercase',
                col.align ? 'text-' + col.align : 'text-start'
              ]"
            >
              {{ col.header }}
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td>
            <div class="text-center text-sm">{{ item.identificacion }}</div>
          </td>
          <td>
            <div class="text-start text-sm uppercase">
              {{ item.labelName }}
            </div>
          </td>
          <td>
            <div class="text-center text-sm lowercase">{{ item.username }}</div>
          </td>
          <td>
            <div class="text-center text-sm capitalize">
              {{ item.rol.nombre }}
            </div>
          </td>
          <td>
            <tags-sedes [sedes]="item.sedes" class="mx-auto" />
          </td>
          <td>
            <div class="flex justify-center items-center">
              <tag-status [status]="item.isActive" />
            </div>
          </td>
          <td>
            <div class="flex justify-center items-center gap-1">
              <btn-edit (onClick)="edit(item)" />
              <btn-delete (onClick)="remove(item)" />
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <ng-template
          [skeletonTable]="{
            loading: loadingTable,
            numCols: cols.length,
            numRows: 4
          }"
        ></ng-template>
      </ng-template>
      <ng-template #footer>
        <ng-template
          [appPaginator]="{
            totalItems: totalItems,
            limit: limit,
            offset: offset,
            pageChange: onPageChange
          }"
        ></ng-template>
      </ng-template>
    </p-table>
  </div>
</div>
