<div class="flex flex-col gap-2">
  <form [formGroup]="formData" class="grid grid-cols-1 gap-2">
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="idSede">Edificio</label>
      <p-select
        id="idSede"
        [options]="listaSedes"
        optionLabel="nombre"
        optionValue="id"
        formControlName="idSede"
        (onChange)="filtrar($event)"
        placeholder="Seleccione..."
        appendTo="body"
        [filter]="true"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="idCargo">Cargo</label>
      <p-select
        id="idCargo"
        [options]="listaCargos"
        optionLabel="nombre"
        optionValue="id"
        formControlName="idCargo"
        (onChange)="filtrar($event)"
        placeholder="Seleccione..."
        appendTo="body"
        [filter]="true"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="idTrabajador">Trabajador</label>
      <p-select
        id="idTrabajador"
        [options]="listaTrabajadoresFiltrados"
        optionLabel="labelName"
        optionValue="id"
        formControlName="idTrabajador"
        placeholder="Seleccione..."
        [filter]="true"
        appendTo="body"
        [filter]="true"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="montoAdelanto"
        >Monto de adelanto</label
      >
      <p-inputnumber
        id="montoAdelanto"
        formControlName="montoAdelanto"
        mode="currency"
        currency="PEN"
        locale="es-PE"
      />
    </div>
    <div class="flex justify-center gap-2 py-2">
      <div class="flex items-center">
        <p-checkbox
          class="flex items-center"
          [(ngModel)]="selfMonth"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="changeSelfMonth($event)"
          [binary]="true"
          inputId="selfMonth"
        />
        <label for="selfMonth" class="text-sm px-2 m-0"
          >Descontar el mismo mes</label
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="cuotasDescuento"
        >Cuotas de descuento <span class="italic">(Meses)</span></label
      >
      <p-inputnumber id="cuotasDescuento" formControlName="cuotasDescuento" />
    </div>
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="fechaAdelanto"
        >Fecha de adelanto</label
      >
      <p-datepicker
        id="fechaAdelanto"
        styleClass="w-full uppercase"
        dateFormat="dd M yy"
        placeholder="DD MMM YYYY"
        formControlName="fechaAdelanto"
        (ngModelChange)="changeFechaDescuento()"
        [showIcon]="true"
        appendTo="body"
      />
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium" for="fechaDescuento"
        >Mes de inicio de descuento</label
      >
      <p-datepicker
        id="fechaDescuento"
        styleClass="w-full uppercase"
        dateFormat="M yy"
        placeholder="MMM yyyy"
        view="month"
        formControlName="fechaDescuento"
        [showIcon]="true"
        appendTo="body"
      />
    </div>
  </form>

  <div class="flex justify-end gap-2 mt-4">
    <p-button
      severity="info"
      size="small"
      [label]="id ? 'Actualizar' : 'Guardar'"
      [disabled]="formData.invalid"
      (onClick)="guardar()"
    />
  </div>
</div>
