<div class="h-full flex flex-col gap-4">
  <div class="flex flex-col justify-center gap-4 px-6 py-4">
    <div class="flex justify-between items-center gap-4">
      <title-card [title]="title" [icon]="icon" />
    </div>
    <div class="flex items-center justify-between px-6">
      <div class="flex items-center gap-3">
        <p-datepicker
          id="fechaInicio"
          view="month"
          dateFormat="MM yy"
          placeholder="Seleccionar mes"
          [(ngModel)]="fechaSelected"
          [readonlyInput]="true"
          showIcon
          iconDisplay="input"
          styleClass="w-44"
          appendTo="body"
          pTooltip="Mes"
          tooltipPosition="top"
          tooltipStyleClass="text-sm"
          (ngModelChange)="cambiarFecha($event)"
        />
        <p-multiselect
          [options]="listaSedes"
          [(ngModel)]="selectedSedes"
          optionLabel="nombre"
          optionValue="id"
          placeholder="Edificios"
          [maxSelectedLabels]="2"
          (onChange)="filtrar($event.value)"
          styleClass="w-42"
          pTooltip="Edificios"
          tooltipPosition="top"
          tooltipStyleClass="text-sm"
        />
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            type="text"
            pInputText
            placeholder="Buscar"
            (input)="filterGlobal(dt1, $event.target)"
          />
        </p-iconfield>
      </div>
      <!-- <div class="flex items-center gap-3">
        <p-button severity="info" size="small">
          <div class="flex justify-center items-center font-medium gap-1">
            <i
              class="iconify icon text-lg"
              data-icon="material-symbols:download-rounded"
              data-inline="false"
            ></i>
            <div>XLS</div>
          </div>
        </p-button>
      </div> -->
    </div>
  </div>
  <div class="flex flex-col px-6">
    <p-table
      #dt1
      dataKey="id"
      [value]="dataTable"
      stripedRows
      [scrollable]="true"
      scrollHeight="575px"
      styleClass="w-full"
      [responsive]="true"
      responsiveLayout="scroll"
      [globalFilterFields]="['usuario.nombre', 'usuario.apellido']"
      sortField="usuario.labelName"
      rowGroupMode="rowspan"
      groupRowsBy="fecha"
      sortMode="single"
      rowGroupMode="subheader"
      groupRowsBy="usuario.labelName"
    >
      <ng-template #header>
        <tr>
          <th class="w-48">
            <div class="text-xs text-center uppercase">Fecha</div>
          </th>
          <th>
            <div class="text-xs text-center uppercase">Edificio</div>
          </th>
          <th class="w-64">
            <div class="text-xs text-center uppercase">Entrada</div>
          </th>
          <th class="w-64">
            <div class="text-xs text-center uppercase">Salida</div>
          </th>
          <th class="w-36">
            <div class="text-xs text-center uppercase">Acciones</div>
          </th>
        </tr>
      </ng-template>
      <ng-template #groupheader let-item>
        <tr pRowGroupHeader>
          <td colspan="100">
            <div class="flex gap-2">
              <div class="text-sm font-bold">
                {{ item.usuario.labelName }}
              </div>
              <div class="text-sm">({{ item.usuario?.rol?.nombre }})</div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template
        #body
        let-item
        let-i="rowIndex"
      >
        <tr>
          <td >
            <div class="text-sm text-center">
              {{ item.fecha | date : "dd MMMM yyyy" | uppercase }}
            </div>
          </td>

          <td>
            <div class="text-sm text-center">
              {{ item.dispositivo?.sede?.nombre }}
            </div>
          </td>
          <td>
            <div class="flex justify-center text-sm">
              {{
                item.marcacionEntrada | date : "dd MMM yyyy HH:mm" | uppercase
              }}
            </div>
          </td>
          <td>
            <div class="flex justify-center text-sm">
              {{
                item.marcacionSalida | date : "dd MMM yyyy HH:mm " | uppercase
              }}
            </div>
          </td>
          <td>
            <div class="flex justify-center items-center gap-2">
              <button-custom severity="success" tooltip="Detalle mensual" icon="material-symbols:open-in-new-rounded" (click)="verDetalle(item)" />
              <!-- <p-button
                text
                (click)="verDetalle(item)"
                severity="success"
                size="small"
                rounded
                styleClass="!w-10 !p-2"
                pTooltip="Detalle mensual"
                tooltipPosition="top"
                tooltipStyleClass="!text-xs !font-normal !p-0"
              >
                <i
                  class="iconify icon font-bold text-xl"
                  [attr.data-icon]="'material-symbols:open-in-new-rounded'"
                  data-inline="false"
                ></i>
              </p-button> -->
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="100">
            <div class="text-center text-sm font-extralight">
              No se encontraron registros.
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
